:root {
    --grid-line-color: rgb(218, 215, 215);
    --grid-hole-color: #2b2b2b;
}

body {
    height:100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    background-size: 50px 50px;
    background-image:
    linear-gradient(to right, var(--grid-line-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px);
    
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
}

#title {
    font-size:75px;
}


#holes {
    display:flex;
    flex-direction:column;
    gap:300px;
    position:fixed;
    top:10%;
    left:5%;
}

.hole {
    width:40px;
    height:40px;
    background-color:var(--grid-hole-color);
    border-radius:50px;
}